@media screen and (min-width: 1001px) {

	* {
	  box-sizing: border-box;
	  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
	  font-size: 16px;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	}
	html {
	  height: 100%;
	}
	body {
	  position: relative;
	  min-height: 100%;
	  color: #555555;
	  background-color: #FFFFFF;
	  margin: 0;
	  padding-bottom: 100px; /* Same height as footer */
	}
	h1, h2, h3, h4, h5 {
	  color: #394352;
	}
	.content-wrapper {
	  width: 1050px;
	  margin: 0 auto;
	}
	header {
	  border-bottom: 1px solid #EEEEEE;
	}
	header .content-wrapper {
	  display: flex;
	}
	header h1 {
	  display: flex;
	  flex-grow: 1;
	  flex-basis: 0;
	  font-size: 20px;
	  margin: 0;
	  padding: 24px 0;
	}
	header nav {
	  display: flex;
	  flex-grow: 1;
	  flex-basis: 0;
	  justify-content: center;
	  align-items: center;
	}
	header nav a {
	  text-decoration: none;
	  color: #555555;
	  padding: 10px 10px;
	  margin: 0 10px;
	}
  
	header .content-wrapper .stackButton {
	  display: none;
	} 
  
	header nav a:hover {
	  border-bottom: 1px solid #aaa;
	}
	header .link-icons {
	  display: flex;
	  flex-grow: 1;
	  flex-basis: 0;
	  justify-content: flex-end;
	  align-items: center;
	  position: relative;
	}
	header .link-icons a {
	  text-decoration: none;
	  color: #394352;
	  padding: 0 10px;
	}
	header .link-icons a:hover {
	  color: #4e5c70;
	}
	header .link-icons a i {
	  font-size: 18px;
	}
	header .link-icons a span {
	  display: inline-block;
	  text-align: center;
	  background-color: #63748e;
	  border-radius: 50%;
	  color: #FFFFFF;
	  font-size: 12px;
	  line-height: 16px;
	  width: 16px;
	  height: 16px;
	  font-weight: bold;
	  position: absolute;
	  top: 22px;
	  right: 0;
	}
	main .featured {
	  display: flex;
	  flex-direction: column;
	  background-image: url(imgs/featured-image.jpg);
	  background-repeat: no-repeat;
	  background-size: cover;
	  height: 500px;
	  align-items: center;
	  justify-content: center;
	  text-align: center;
	}
	main .featured h2 {
	  display: inline-block;
	  margin: 0;
	  width: 1050px;
	  font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
	  font-size: 68px;
	  color: #FFFFFF;
	  padding-bottom: 10px;
	}
	main .featured p {
	  display: inline-block;
	  margin: 0;
	  width: 1050px;
	  font-size: 24px;
	  color: #FFFFFF;
	}
	main .recentlyadded h2 {
	  display: block;
	  font-weight: normal;
	  margin: 0;
	  padding: 40px 0;
	  font-size: 24px;
	  text-align: center;
	  width: 100%;
	  border-bottom: 1px solid #EEEEEE;
	}
	main .recentlyadded .products, main .products .products-wrapper {
	  display: flex;
	  flex-wrap: wrap;
	  align-items: center;
	  justify-content: space-between;
	  padding: 40px 0 0 0;
	}
	main .recentlyadded .products .product, main .products .products-wrapper .product {
	  display: block;
	  overflow: hidden;
	  text-decoration: none;
	  width: 25%;
	  padding-bottom: 60px;
	}
	main .recentlyadded .products .product img, main .products .products-wrapper .product img {
	  transform: scale(1);
	  transition: transform 1s;
	}
	main .recentlyadded .products .product .name, main .products .products-wrapper .product .name {
	  display: block;
	  color: #555555;
	  padding: 20px 0 2px 0;
	}
	main .recentlyadded .products .product .price, main .products .products-wrapper .product .price {
	  display: block;
	  color: #999999;
	}
	main .recentlyadded .products .product .rrp, main .products .products-wrapper .product .rrp {
	  color: #BBBBBB;
	  text-decoration: line-through;
	}
	main .recentlyadded .products .product:hover img, main .products .products-wrapper .product:hover img {
	  transform: scale(1.05);
	  transition: transform 1s;
	}
	main .recentlyadded .products .product:hover .name, main .products .products-wrapper .product:hover .name {
	  text-decoration: underline;
	}
  
	main .products #text {
	  text-align: center;
	  padding-left: 10%;
	}
  
	/*Members*/
	main .recentlyadded .members, main .members .members-wrapper {
	  display: flex;
	  flex-wrap: wrap;
	  align-items: center;
	  justify-content: space-between;
	  padding: 40px 0 0 0;
	}
	main .recentlyadded .members .member, main .members .members-wrapper .member {
	  display: block;
	  overflow: hidden;
	  text-decoration: none;
	  width: 25%;
	  padding-bottom: 60px;
	}
	main .recentlyadded .members .member img, main .members .members-wrapper .member img {
	  transform: scale(.95);
	  border-radius: 50%;
	  transition: transform 1s;
	}
	main .recentlyadded .members .member .name, main .members .members-wrapper .member .name {
	  display: block;
	  color: #555555;
	  padding: 20px 0 2px 0;
	}
	main .recentlyadded .members .member .caption {
	  display: block;
	  color: #999999;
	}
  
	/* , main .members .members-wrapper .member .caption */
  
  
	/* main .recentlyadded .products .member .rrp, main .products .products-wrapper .member {
	color: #BBBBBB;
	text-decoration: line-through;
  } */
	main .recentlyadded .members .member:hover img, main .members .members-wrapper .member:hover img {
	  transform: scale(1.00);
	  transition: transform 1s;
	}
	main .recentlyadded .members .member:hover .name, main .members .members-wrapper .member:hover .name {
	  text-decoration: underline;
	}
  
	/* main .members #text {
	text-align: center;
	padding-left: 10%;
  } */
  
	main > .member {
	  display: block;
	  padding: 40px 0;
	}
	main > .member > div {
	  padding-left: 15px;
	}
	main > .member h1 {
	  font-size: 34px;
	  font-weight: normal;
	  margin: 0;
	  padding: 20px 0 10px 0;
	}
	main > .member .caption {
	  display: block;
	  font-size: 22px;
	  color: #999999;
	}
  
	main > .member form {
	  display: flex;
	  flex-flow: column;
	  margin: 40px 0;
	  padding-right: 20px;
	}
	main > .member form input[type="number"] {
	  width: 400px;
	  padding: 10px;
	  margin-bottom: 15px;
	  border: 1px solid #ccc;
	  color: #555555;
	  border-radius: 5px;
	}
  
	main > .member form input[type="submit"] {
	  background: #4e5c70;
	  border: 0;
	  color: #FFFFFF;
	  width: 400px;
	  padding: 12px 0;
	  text-transform: uppercase;
	  font-size: 14px;
	  font-weight: bold;
	  border-radius: 5px;
	  cursor: pointer;
	}
	main > .member form input[type="submit"]:hover {
	  background: #434f61;
	}
  
	.member.content-wrapper .description p {
	  margin-right: 20px;
	  text-align: justify;
	}
  
	main > .member.content-wrapper #image {
	  width: 495px;
	  height: 495px;
	  float: right;
	  margin: 15px;
	}
  
	/* .member.content-wrapper > div {
	text-align: center;
  } */
  
	/* Products */
	main .products #text {
	  text-align: center;
	  padding-left: 10%;
	}
  
	main > .product {
	  display: flex;
	  padding: 40px 0;
	}
	main > .product > div {
	  padding-left: 15px;
	}
	main > .product h1 {
	  font-size: 34px;
	  font-weight: normal;
	  margin: 0;
	  padding: 20px 0 10px 0;
	}
	main > .product .price {
	  display: block;
	  font-size: 22px;
	  color: #999999;
	}
	main > .product .rrp {
	  color: #BBBBBB;
	  text-decoration: line-through;
	  font-size: 22px;
	  padding-left: 5px;
	}
	main > .product form {
	  display: flex;
	  flex-flow: column;
	  margin: 40px 0;
	}
	main > .product form input[type="number"] {
	  width: 400px;
	  padding: 10px;
	  margin-bottom: 15px;
	  border: 1px solid #ccc;
	  color: #555555;
	  border-radius: 5px;
	}
	main > .product form input[type="submit"] {
	  background: #4e5c70;
	  border: 0;
	  color: #FFFFFF;
	  width: 400px;
	  padding: 12px 0;
	  text-transform: uppercase;
	  font-size: 14px;
	  font-weight: bold;
	  border-radius: 5px;
	  cursor: pointer;
	}
	main > .product form input[type="submit"]:hover {
	  background: #434f61;
	}
	main > .products h1 {
	  display: block;
	  font-weight: normal;
	  margin: 0;
	  padding: 40px 0;
	  font-size: 24px;
	  text-align: center;
	  width: 100%;
	}
	main > .products .buttons {
	  text-align: right;
	  padding-bottom: 40px;
	}
	main > .products .buttons a {
	  display: inline-block;
	  text-decoration: none;
	  margin-left: 5px;
	  padding: 12px 20px;
	  border: 0;
	  background: #4e5c70;
	  color: #FFFFFF;
	  font-size: 14px;
	  font-weight: bold;
	  border-radius: 5px;
	}
	main > .products .buttons a:hover {
	  background: #434f61;
	}
	main .cart h1 {
	  display: block;
	  font-weight: normal;
	  margin: 0;
	  padding: 40px 0;
	  font-size: 24px;
	  text-align: center;
	  width: 100%;
	}
	main .cart table {
	  width: 100%;
	}
	main .cart table thead td {
	  padding: 30px 0;
	  border-bottom: 1px solid #EEEEEE;
	}
	main .cart table thead td:last-child {
	  text-align: right;
	}
	main .cart table tbody td {
	  padding: 20px 0;
	  border-bottom: 1px solid #EEEEEE;
	}
	main .cart table tbody td:last-child {
	  text-align: right;
	}
	main .cart table .img {
	  width: 80px;
	}
	main .cart table .remove {
	  color: #777777;
	  font-size: 12px;
	  padding-top: 3px;
	}
	main .cart table .remove:hover {
	  text-decoration: underline;
	}
	main .cart table .price {
	  color: #999999;
	}
	main .cart table a {
	  text-decoration: none;
	  color: #555555;
	}
	main .cart table input[type="number"] {
	  width: 68px;
	  padding: 10px;
	  border: 1px solid #ccc;
	  color: #555555;
	  border-radius: 5px;
	}
	main .cart .subtotal {
	  text-align: right;
	  padding: 40px 0;
	}
	main .cart .subtotal .text {
	  padding-right: 40px;
	  font-size: 18px;
	}
	main .cart .subtotal .price {
	  font-size: 18px;
	  color: #999999;
	}
	main .cart .buttons {
	  text-align: right;
	  padding-bottom: 40px;
	}
	main .cart .buttons input[type="submit"] {
	  margin-left: 5px;
	  padding: 12px 20px;
	  border: 0;
	  background: #4e5c70;
	  color: #FFFFFF;
	  font-size: 14px;
	  font-weight: bold;
	  cursor: pointer;
	  border-radius: 5px;
	}
	main .cart .buttons input[type="submit"]:hover {
	  background: #434f61;
	}
	main .placeorder h1 {
	  display: block;
	  font-weight: normal;
	  margin: 0;
	  padding: 40px 0;
	  font-size: 24px;
	  text-align: center;
	  width: 100%;
	}
	main .placeorder p {
	  text-align: center;
	}
	footer {
	  position: absolute;
	  bottom: 0;
	  border-top: 1px solid #EEEEEE;
	  padding: 20px 0;
	  width: 100%;
	}
  
  }
  /* -------------------- */
  /* ----PHONE SCREEN---- */
  /* ----PHONE SCREEN---- */
  /* -------------------- */
  @media screen and (max-width: 1000px) {
  
	* {
	  box-sizing: border-box;
	  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
	  font-size: 30px;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	}
  
	html {
	  height: 100%;
	}
	body {
	  position: relative;
	  min-height: 100%;
	  color: #555555;
	  background-color: #FFFFFF;
	  margin: 0;
	  padding-bottom: 100px; /* Same height as footer */
	}
	h1, h2, h3, h4, h5 {
	  color: #394352;
	}
	.content-wrapper {
	  width: 100%;
	  align-content: center;
	  margin: 0 auto;
	}
	header {
	  border-bottom: 1px solid #EEEEEE;
	  width: auto;
	}
	header .content-wrapper {
	  display: flex;
	  height: 200px;
	}
  
	header .content-wrapper h1 {
	  align-content: center;
	}
  
	header h1 {
	  width: 80%;
	  position: absolute;
	  display: block;
	  flex-grow: 1;
	  flex-basis: 0;
	  font-size: 60px;
	  margin: 50px;
	  padding: 1px 5px;
	  padding-right: 10px;
	  text-align: center;
	}
  
	/*
	#logoImage {
	height: 60px;
	width: 60px;
	align-content: center;
  }
	*/
  
	header nav {
	  display: flex;
	  flex-grow: 1;
	  flex-basis: 0;
	  justify-content: center;
	  align-items: center;
	}
	header nav a {
	  text-decoration: none;
	  color: #555555;
	  padding: 95px 5px 5px;
	  margin: 5px 15px;
	  font-size: 35px;
	  font-weight: 400;
	  display: none;
  
	}
	header nav a:hover {
	  border-bottom: 1px solid #aaa;
	}
	header .link-icons {
	  display: flex;
	  flex-grow: 1;
	  flex-basis: 0;
	  justify-content: flex-end;
	  align-items: center;
	  position: relative;
	}
	header .link-icons a {
	  text-decoration: none;
	  color: #394352;
	  margin: 0 20px;
	  margin-bottom: 100px;
	}
	header .link-icons a:hover {
	  color: #4e5c70;
	}
	header .link-icons a i {
	  font-size: 45px;
	  padding-right: 10px;
	}
	header .link-icons a span {
	  display: inline-block;
	  text-align: center;
	  background-color: #63748e;
	  border-radius: 50%;
	  color: #FFFFFF;
	  font-size: 15px;
	  line-height: 16px;
	  width: 16px;
	  height: 16px;
	  font-weight: bold;
	  position: absolute;
	  top: 18px;
	  right: 20px;
	}
  
	/*
	header .sidebar .navMenuItem{
	border: 2px solid green;
	padding:8px 16px;
	float:left;
	width:auto;
	border:none;
	display:block;
	outline:0
  }
	*/
  
	/*
	.navMenuItem {
	border:none;
	display:inline-block;
	padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap;
  }
	*/
  
	/*
	.navMenuItem {
	padding:8px 16px;
	float:left;
	width:auto;
	border:none;
	display:block;
	outline:0;
  }
	*/
  
	.navMenuItem {
	  width:50%;
	  display:block;
	  padding:16px 18px;
	  border:none;
	  white-space:normal;
	  float:none;
	  outline:0;
	  border:none;
	  display:inline-block;
	  /* vertical-align:middle; */
	  overflow:hidden;
	  text-decoration:none;
	  color:inherit;
	  background-color:inherit;
	  text-align:justify;
	  cursor:pointer;
	  white-space:nowrap;
	  font-size: 45px;
	  font-weight: 500;
	}
  
	.close {
	  float: right;
	  width: 10%;
	  height: 100%;
	  border: none;
	  background-color: #EEEEEE;
	}
  
	.innerButton {
	  font-size: 45px;
	  font-weight: 500;
	  position: relative;
	  bottom: 47%;
	  color: #555555;
	}
  
	/*
	.navMenuItem:last-child{
	background-color:#ccc;
	color:#000;
  }
	*/
  
	.stackButton {
	  font-size:65px!important;
	  border: none;
	  background: none;
	  height: 58px;
	  margin: 5px;
	}
  
	.sidebar {
	  height:100%;
	  width:100%;
	  background-color:#fff;
	  position:fixed!important;
	  z-index:1;
	  overflow:auto;
	  border-right: 1px solid #EEEEEE;
	}
  
	main .featured {
	  display: flex;
	  flex-direction: column;
	  background-image: url(imgs/featured-image.jpg);
	  background-repeat: no-repeat;
	  background-size: auto;
	  height: 350px;
	  width: 100%;
	  align-items: center;
	  justify-content: center;
	  text-align: center;
	}
	main .featured h2 {
	  display: inline-block;
	  margin: 0;
	  width: 400px;
	  font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
	  font-size: 68px;
	  color: #FFFFFF;
	  padding-bottom: 10px;
	}
	main .featured p {
	  display: inline-block;
	  margin: 0;
	  width: 400px;
	  font-size: 40px;
	  color: #FFFFFF;
	}
	main .recentlyadded h2 {
	  display: block;
	  font-weight: normal;
	  margin: 0;
	  padding: 30px 0;
	  font-size: 40px;
	  text-align: center;
	  width: 100%;
	  border-bottom: 1px solid #EEEEEE;
	}
  
	main .recentlyadded .products, main .products .products-wrapper, main .recentlyadded .members {
	  display: flex;
	  flex-wrap: wrap;
	  flex-direction: row;
	  margin: 20px;
	  /*    flex-direction: column;*/
	  justify-content: space-around;
	  /* align-content: center; */
	  /*    padding: 50px;*/
	  text-decoration: none;
	}
  
	main .recentlyadded .about p {
	  font-size: 20px;
	  text-align: justify;
	  margin: 10px;
	}
  
	main .recentlyadded .products .product, main .products .product, main .recentlyadded .members .member {
		margin: 15px;
		width: 375px;
		height: 485px;
		padding-bottom: 65px;
		text-decoration: none;
	}
  
	/*
	main .recentlyadded .products, main .products .products-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	align-content: center;
	padding: 30px 0 0 0;
  }
  
	main .recentlyadded .products .product, main .products .products-wrapper .product {
	display: block;
	overflow: hidden;
	text-decoration: none;
	justify-content: space-between;
	align-content: center;
	padding-bottom: 60px;
  }
	*/
  
  
	main .recentlyadded .products .product img, main .products .products-wrapper .product img {
	  transform: scale(1);
	  transition: transform 1s;
	  width: 320px;
	  height: 300px;
	}
	main .recentlyadded .products .product .name, main .products .products-wrapper .product .name {
	  display: block;
	  color: #555555;
	  padding: 20px 0 2px 0;
	  font-size: 30px;
	  text-decoration: none;
	  /*    text-decoration: underline;*/
	}
	main .recentlyadded .products .product .price, main .products .products-wrapper .product .price {
	  display: block;
	  color: #999999;
	  font-size: 22px;
	  text-decoration: none;
	  /*    text-decoration: underline;*/
	}
	main .recentlyadded .products .product .rrp, main .products .products-wrapper .product .rrp {
	  color: #BBBBBB;
	  text-decoration: line-through;
	  font-size: 24px;
	}
	main .recentlyadded .products .product:hover img, main .products .products-wrapper .product:hover img {
	  transform: scale(1.05);
	  transition: transform 1s;
	}
	main .recentlyadded .products .product:hover .name, main .products .products-wrapper .product:hover .name {
	  text-decoration: underline;
	}
  
	main .products #text {
	  text-align: center;
	  padding-left: 10%;
	}
  
	/*Member styles*/
	main .members .members-wrapper {
	  display: flex;
	  flex-wrap: wrap;
	  align-items: center;
	  justify-content: space-between;
	  padding: 40px 0 0 0;
	}
  
	main .members .members-wrapper .member {
	  display: block;
	  overflow: hidden;
	  text-decoration: none;
	  width: 25%;
	  padding-bottom: 60px;
	}
  
	/*Members page styles */
	main .recentlyadded .members .member img, main .members .members-wrapper .member img {
	  transform: scale(.95);
	  border-radius: 50%;
	  width: 320px;
	  height: 300px;
	  transition: transform 1s;
	}
	main .recentlyadded .members .member .name, main .members .members-wrapper .member .name {
	  font-size: 35px;
	  display: block;
	  color: #555555;
	  padding: 20px 0 2px 0;
	}
	main .recentlyadded .members .member .caption {
	  font-size: 32px;
	  display: block;
	  color: #999999;
	}
  
	/* , main .members .members-wrapper .member .caption */
  
  
	/* main .recentlyadded .products .member .rrp, main .products .products-wrapper .member {
	color: #BBBBBB;
	text-decoration: line-through;
  } */
	main .recentlyadded .members .member:hover img, main .members .members-wrapper .member:hover img {
	  transform: scale(1.00);
	  transition: transform 1s;
	}
	main .recentlyadded .members .member:hover .name, main .members .members-wrapper .member:hover .name {
	  text-decoration: underline;
	}
  
	/* main .members #text {
	text-align: center;
	padding-left: 10%;
  } */
  
	main > .member {
	  display: block;
	  padding: 40px 0;
	}
	main > .member > div {
	  padding-left: 15px;
	}
	main > .member h1 {
	  font-size: 38px;
	  font-weight: normal;
	  margin: 0;
	  padding: 20px 0 10px 0;
	}
	main > .member .caption {
	  display: block;
	  font-size: 30px;
	  color: #999999;
	}
  
	main > .member form {
	  display: flex;
	  flex-flow: column;
	  margin: 40px 2px;
	  padding-right: 20px;
	}
  
	main > .member form input[type="number"] {
	  width: 400px;
	  padding: 10px;
	  margin-bottom: 15px;
	  border: 1px solid #ccc;
	  color: #555555;
	  border-radius: 5px;
	}
  
	main > .member form input[type="submit"] {
	  background: #4e5c70;
	  border: 0;
	  color: #FFFFFF;
	  width: 300px;
	  padding: 12px 0;
	  text-transform: uppercase;
	  font-size: 37px;
	  font-weight: bold;
	  border-radius: 5px;
	  cursor: pointer;
	}
	main > .member form input[type="submit"]:hover {
	  background: #434f61;
	}
  
	.member.content-wrapper .description ul li{
	  font-size: 32px;
	}
  
	.member.content-wrapper .description p {
	  margin-right: 20px;
	  text-align: justify;
	  font-size: 30px;
	}
  
	main > .member.content-wrapper #image {
	  width: 490px;
	  height: 490px;
	  float: right;
	  margin: 15px;
	}
  
	/* .member.content-wrapper > div {
	text-align: center;
  } */
  
	/* Products */  
	main .products #text {
	  text-align: center;
	  padding-left: 10%;
	}
  
	main > .product {
	  width: 100%;
	  display: flex;
	  padding: 40px 0;
	  margin: 5px;
	}
	main > .product > div {
	  padding-left: 15px;
	}
	
	main > .product > img {
	  height: 400px;
	  width: 340px;
	}
	main > .product h1 {
	  font-size: 34px;
	  font-weight: normal;
	  margin: 0;
	  padding: 20px 0 10px 0;
	}
	main > .product .price {
	  display: block;
	  font-size: 22px;
	  color: #999999;
	}
	main > .product .rrp {
	  color: #BBBBBB;
	  text-decoration: line-through;
	  font-size: 22px;
	  padding-left: 5px;
	}
	main > .product form {
	  display: flex;
	  flex-flow: column;
	  margin: 40px 0;
	}
	main > .product form input[type="number"] {
	  width: 300px;
	  padding: 10px;
	  margin-bottom: 15px;
	  border: 1px solid #ccc;
	  color: #555555;
	  border-radius: 5px;
	}
	main > .product form input[type="submit"] {
	  background: #4e5c70;
	  border: 0;
	  color: #FFFFFF;
	  width: 300px;
	  padding: 12px 0;
	  text-transform: uppercase;
	  font-size: 14px;
	  font-weight: bold;
	  border-radius: 5px;
	  cursor: pointer;
	}
	main > .product form input[type="submit"]:hover {
	  background: #434f61;
	}
	main > .products h1 {
	  display: block;
	  font-weight: normal;
	  margin: 0;
	  padding: 40px 0;
	  font-size: 24px;
	  text-align: center;
	  width: 100%;
	}
	main > .products .buttons {
	  text-align: right;
	  padding-bottom: 40px;
	}
	main > .products .buttons a {
	  display: inline-block;
	  text-decoration: none;
	  margin-left: 5px;
	  padding: 12px 20px;
	  border: 0;
	  background: #4e5c70;
	  color: #FFFFFF;
	  font-size: 14px;
	  font-weight: bold;
	  border-radius: 5px;
	}
	main > .products .buttons a:hover {
	  background: #434f61;
	}
	main .cart h1 {
	  display: block;
	  font-weight: normal;
	  margin: 0;
	  padding: 40px 0;
	  font-size: 24px;
	  text-align: center;
	  width: 100%;
	}
	main .cart table {
	  width: 100%;
	}
	main .cart table thead td {
	  padding: 30px 0;
	  border-bottom: 1px solid #EEEEEE;
	}
	main .cart table thead td:last-child {
	  text-align: right;
	}
	main .cart table tbody td {
	  padding: 20px 0;
	  border-bottom: 1px solid #EEEEEE;
	}
	main .cart table tbody td:last-child {
	  text-align: right;
	}
	main .cart table .img {
	  width: 80px;
	}
	main .cart table .remove {
	  color: #777777;
	  font-size: 12px;
	  padding-top: 3px;
	}
	main .cart table .remove:hover {
	  text-decoration: underline;
	}
	main .cart table .price {
	  color: #999999;
	}
	main .cart table a {
	  text-decoration: none;
	  color: #555555;
	}
	main .cart table input[type="number"] {
	  width: 68px;
	  padding: 10px;
	  border: 1px solid #ccc;
	  color: #555555;
	  border-radius: 5px;
	}
	main .cart .subtotal {
	  text-align: right;
	  padding: 40px 0;
	}
	main .cart .subtotal .text {
	  padding-right: 40px;
	  font-size: 18px;
	}
	main .cart .subtotal .price {
	  font-size: 18px;
	  color: #999999;
	}
	main .cart .buttons {
	  text-align: right;
	  padding-bottom: 40px;
	}
	main .cart .buttons input[type="submit"] {
	  margin-left: 5px;
	  padding: 12px 20px;
	  border: 0;
	  background: #4e5c70;
	  color: #FFFFFF;
	  font-size: 14px;
	  font-weight: bold;
	  cursor: pointer;
	  border-radius: 5px;
	}
	main .cart .buttons input[type="submit"]:hover {
	  background: #434f61;
	}
	main .placeorder h1 {
	  display: block;
	  font-weight: normal;
	  margin: 0;
	  padding: 40px 0;
	  font-size: 24px;
	  text-align: center;
	  width: 100%;
	}
	main .placeorder p {
	  text-align: center;
	}
	footer {
	  position: absolute;
	  bottom: 0;
	  border-top: 1px solid #EEEEEE;
	  padding: 20px 10px;
	  width: 100%;
	}
  }